h1{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.counter{
    margin-left: 40%;
    margin-right: 45%;
    background-color: green;
}
.todo{
    margin-left: 40%;
    margin-right: 45%;
    background-color: saddlebrown;
}
.todo1{
    margin-left: 40%;
    margin-right: 45%;
    background-color: yellowgreen;
}